@model SUNFISH.ViewModels.New.Policies.DataUnmaskingPolicyVM
    <h3>Data Unmasking Policy</h3>
    <hr />

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TargetUri" class="col-md-2 control-label">Target URI</label>
        <div class="col-md-10">
            <input asp-for="TargetUri" class="form-control" />
            <span asp-validation-for="TargetUri" class="text-danger" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="MaskingContextId" class="col-md-2 control-label">Masking Context ID</label>
        <div class="col-md-10">
            <input asp-for="MaskingContextId" class="form-control" />
            <span asp-validation-for="MaskingContextId" class="text-danger" />
        </div>
    </div>


    <div class="form-group">
        <label asp-for="MaskingPolicyId" class="col-md-2 control-label">Masking Policy ID</label>
        <div class="col-md-10">
            <input asp-for="MaskingPolicyId" class="form-control" />
            <span asp-validation-for="MaskingPolicyId" class="text-danger" />
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" formaction="@Url.Action("SubmitDataUnmaskingPolicy","AccessPolicies")" />
        </div>
    </div>
