@model SUNFISH.ViewModels.SummaryTotal

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>SummaryTotal</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CloudMemberName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CloudMemberName" class="form-control">
                    @if (ViewData["CloudMemberNames"] != null)
                    {
                        foreach (var item in ViewData["CloudMemberNames"] as IEnumerable<string>)
                        {
                            <option value="@item">@item.ToString()</option>
                        }
                    }
                </select>
                <span asp-validation-for="CloudMemberName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalNumberOfCores" class="col-md-2 control-label"> Total No. of Cores</label>
            <div class="col-md-10">
                <input asp-for="TotalNumberOfCores" class="form-control" />
                <span asp-validation-for="TotalNumberOfCores" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalRam" class="col-md-2 control-label">Total RAM</label>
            <div class="col-md-10">
                <input asp-for="TotalRam" class="form-control" />
                <span asp-validation-for="TotalRam" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalStorage" class="col-md-2 control-label">Total No. of Storage (in TB)</label>
            <div class="col-md-10">
                <input asp-for="TotalStorage" class="form-control" />
                <span asp-validation-for="TotalStorage" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}