@model IEnumerable<SUNFISH.Models.UserServices>
@{
    Layout = "_Layout3";
    ViewData["Title"] = "Home Page - USER";

}

<div class="row">
    <div class="col-lg-12" style="margin-top: -50px;">
        <h1 class="page-header">
            Dashboard <small>Main Features</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="row col-lg-6 col-md-12">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cloud-upload fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <p class="huge">New Services Subscription</p>
                        </div>
                    </div>
                </div>
                <a asp-area="" asp-controller="UserViewModels" asp-action="Create">
                    <div class="panel-footer">
                        <span class="pull-left">Create</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <p class="huge">Manage Subscriptions</p>
                        </div>
                    </div>
                </div>
                <a asp-area="" asp-controller="UserViewModels" asp-action="Index">
                    <div class="panel-footer">
                        <span class="pull-left">Manage</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-12 col-md-12">
            <div class="jumbotron">
                <h3>Service Subscriptions</h3>
                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Service.Name)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Service.Name)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-id="Model.FirstOrDefault().UserId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="Model.FirstOrDefault().UserId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="Model.FirstOrDefault().UserId">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>