@model SUNFISH.ViewModels.ServiceLevelAgreementPolicyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ServiceLevelAgreementPolicyViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div id="metrics">
            @for (int i = 0; i < Model.ServiceLevelAgreementMetrics.Count; i++)
            {
                <h5>Metric @i</h5>
                <div class="metric" id="@("metric" + i)">
                    <div class="form-group">
                        <label asp-for="ServiceLevelAgreementMetrics[i].UniqueId" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ServiceLevelAgreementMetrics[i].UniqueId" class="form-control" />
                            <span asp-validation-for="ServiceLevelAgreementMetrics[i].UniqueId" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceLevelAgreementMetrics[i].Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ServiceLevelAgreementMetrics[i].Name" class="form-control" />
                            <span asp-validation-for="ServiceLevelAgreementMetrics[i].Name" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceLevelAgreementMetrics[i].Scale" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="ServiceLevelAgreementMetrics[i].Scale" class="form-control">
                                <option value="1">Nominal</option>
                                <option value="2">Ordinal</option>
                                <option value="3">Interval</option>
                                <option value="4">Ratio</option>
                            </select>

                            <span asp-validation-for="ServiceLevelAgreementMetrics[i].Scale" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceLevelAgreementMetrics[i].Expression.Language" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ServiceLevelAgreementMetrics[i].Expression.Language" class="form-control" />
                            <span asp-validation-for="ServiceLevelAgreementMetrics[i].Expression.Language" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceLevelAgreementMetrics[i].Expression.Operators" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <select asp-for="ServiceLevelAgreementMetrics[i].Expression.Operators" class="form-control">
                                <option value="1">Add</option>
                                <option value="2">Subtract</option>
                                <option value="3">Multiply</option>
                                <option value="4">Divide</option>
                                <option value="5">GreaterThan</option>
                                <option value="6">LessThan</option>
                            </select>

                            <span asp-validation-for="ServiceLevelAgreementMetrics[i].Expression.Operators" class="text-danger" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-left:50px;">
                        <h5>Parameters</h5>
                        <div id="parameters0">
                            @for (int j = 0; j < Model.ServiceLevelAgreementMetrics[i].Parameters.Count; j++)
                {
                                <div class="parameter" id="parameter0">
                                    <h6>Parameter @j</h6>
                                    <div class="form-group">
                                        <label asp-for="ServiceLevelAgreementMetrics[i].Parameters[j].Name" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ServiceLevelAgreementMetrics[i].Parameters[j].Name" class="form-control" />
                                            <span asp-validation-for="ServiceLevelAgreementMetrics[i].Parameters[j].Name" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ServiceLevelAgreementMetrics[i].Parameters[j].Type" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <select asp-for="ServiceLevelAgreementMetrics[i].Parameters[j].Type" class="form-control">
                                                <option value="1">Integer</option>
                                                <option value="2">Decimal</option>
                                                <option value="3">String</option>
                                                <option value="4">Boolean</option>
                                                <option value="5">Byte</option>
                                            </select>
                                            <span asp-validation-for="ServiceLevelAgreementMetrics[i].Parameters[j].Type" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ServiceLevelAgreementMetrics[i].Parameters[j].Value" class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            <input asp-for="ServiceLevelAgreementMetrics[i].Parameters[j].Value" class="form-control" />
                                            <span asp-validation-for="ServiceLevelAgreementMetrics[i].Parameters[j].Value" class="text-danger" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div>
                            <button class="btn btn-success addParameter">Add Parameter</button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <button class="btn btn-primary" id="addNew" type="button"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/test.js">
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}